In [1]:
%matplotlib inline
import sys
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
print sys.version
print "Pandas", pd.version.version

2.7.9 |Anaconda 2.2.0 (x86_64)| (default, Dec 15 2014, 10:37:34)
[GCC 4.2.1 (Apple Inc. build 5577)]
Pandas 0.15.2

In [2]:
df = pd.read_csv('../csv_files/raw_file.csv')

In [3]:
df

        Date  Miles     Time
0     8/2/14   1.70      NaN
1     8/3/14   1.40      NaN
2     8/4/14   2.10      NaN
3     8/6/14   2.38      NaN
4     8/7/14   2.30      NaN
5     8/8/14   3.40      NaN
6     8/9/14   2.50      NaN
7    8/10/14   3.36  0:28:37
8    8/11/14   1.67  0:13:07
9    8/12/14   1.42  0:10:35
10   8/13/14   2.35  0:17:25
11   8/14/14   0.90  0:06:16
12   8/14/14   0.90  0:06:16
13   8/15/14   1.78      NaN
14   8/16/14   0.65      NaN
15   8/17/14   1.34      NaN
16   8/18/14   0.65      NaN
17   8/19/14   1.37      NaN
18   8/19/14   1.37      NaN
19   8/20/14   1.37  0:09:33
20   8/21/14   1.37  0:09:24
21   8/22/14   1.37  0:09:05
22   8/23/14   1.34      NaN
23   8/24/14   3.00      NaN
24   8/25/14   1.37  0:08:55
25   8/25/14   1.34      NaN
26   8/26/14   1.37  0:10:30
27   8/27/14   2.50  0:25:00
28   8/29/14   5.00  0:43:27
29    9/2/14   2.00      NaN
..       ...    ...      ...
51  10/25/14   2.00      NaN
52  10/31/14   2.01      NaN
53   11/2/14   1.37  0:08:43
54   11/3/14   5.30  0:39:26
55   11/4/14   3.05  0:22:12
56   11/7/14   5.63  0:49:05
57   11/7/14   1.26      NaN
58   11/7/14   1.20      NaN
59   11/9/14   3.05  0:22:36
60  11/10/14   1.50  0:09:00
61  11/10/14   1.50  0:11:33
62  11/10/14   4.00      NaN
63  11/23/14   3.05  0:22:35
64  11/27/14   1.00      NaN
65  11/28/14   3.00      NaN
66   12/9/14   2.93  0:25:00
67  12/12/14   1.37  0:09:15
68  12/13/14   5.30  0:43:36
69  12/13/14   2.21  0:18:59
70  12/15/14   6.50  0:58:43
71  12/17/14  12.00  1:39:00
72  12/19/14   3.10  0:26:15
73  12/20/14  14.80  2:15:00
74  12/22/14   3.10  0:28:00
75  12/23/14   5.63  0:51:50
76  12/24/14   3.05  0:25:08
77  12/25/14  14.80  2:20:00
78  12/26/14   5.20      NaN
79  12/30/14   3.15  0:22:10
80    1/1/15  26.20  4:20:43

[81 rows x 3 columns]